// セクション・動物

.section-animal {
  padding: 30px 0 34px;

  &__heading {
    margin-bottom: 16px;
  }

  &__swiper {
    position: relative;
    max-width: 800px;
    padding: 0 40px;
    margin: 0 auto 32px;
  }
}
