<header class="header l-container-lg">
  <h1 class="header__heading">
    <a class="header__headding-link" href="index.html">
      <img src="images/logo.svg" alt="東京サファリパーク" class="header__heading-image">
    </a>
  </h1>

  <%- include('_gnav.ejs', {class_btn: 'header__gnav-btn', class_gnav: 'header__gnav'}) %>
</header>
