<%
  if (typeof page_title === 'undefined') {
    page_title = '';
  }
%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    <% if (page_title) { %>
      <%= page_title %> | 東京サファリパーク
    <% } else { %>
      東京サファリパーク
    <% } %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="format-detection" content="telephone=no">

  <meta name="description" content="<%= config.description %>">
  <meta name="keywords" content="">

  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" type="text/css" href="css/master.css">
</head>
