<html lang="ja">

<%- include('components/common/_head.ejs', {page_title: 'スタッフ おまかせアレンジ'}) %>

<body class="detail">

<%- include('components/common/_header') %>


<div class="breadcrumb">
  <ul class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="index.html">Home</a>
    </li>

    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="online-shop.html">Online Shop</a>
    </li>

    <li class="breadcrumb__item">
      スタッフ おまかせアレンジ
    </li>
  </ul>
</div>

<main class="main">

  <section class="section-detail l-container-xl">

    <div class="swiper-container gallery-top section-detail__swiper-detail swiper-detail">
      <div class="swiper-wrapper swiper-detail__wrapper">
        <div class="swiper-slide swiper-detail__slide">
          <picture>
            <source type="image/webp" srcset="images/detail/flower01.webp">

            <img class="swiper-detail__image" src="images/detail/flower01.jpg" alt="">
          </picture>
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-detail__slide">
          <picture>
            <source type="image/webp" srcset="images/detail/flower02.webp">

            <img class="swiper-detail__image" src="images/detail/flower02.jpg" alt="">
          </picture>
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-detail__slide">
          <picture>
            <source type="image/webp" srcset="images/detail/flower03.webp">

            <img class="swiper-detail__image" src="images/detail/flower03.jpg" alt="">
          </picture>
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-detail__slide">
          <picture>
            <source type="image/webp" srcset="images/detail/flower04.webp">

            <img class="swiper-detail__image" src="images/detail/flower04.jpg" alt="">
          </picture>
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-detail__slide">
          <picture>
            <source type="image/webp" srcset="images/detail/flower05.webp">

            <img class="swiper-detail__image" src="images/detail/flower05.jpg" alt="">
          </picture>
        </div><!-- /.swiper-slide -->
      </div><!-- /.swiper-wrapper -->

      <div class="swiper-button-next swiper-detail__button-next"></div>

      <div class="swiper-button-prev swiper-detail__button-prev"></div>

    </div><!-- /.swiper-container -->

    <div class="swiper-container gallery-thumbs section-detail__swiper-thumbnail swiper-thumbnail">
      <div class="swiper-wrapper swiper-thumbnail__wrapper">
        <div class="swiper-slide swiper-thumbnail__slide">
          <img class="swiper-thumbnail__image" src="images/detail/flower01.jpg" alt="">
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-thumbnail__slide">
          <img class="swiper-thumbnail__image" src="images/detail/flower02.jpg" alt="">
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-thumbnail__slide">
          <img class="swiper-thumbnail__image" src="images/detail/flower03.jpg" alt="">
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-thumbnail__slide">
          <img class="swiper-thumbnail__image" src="images/detail/flower04.jpg" alt="">
        </div><!-- /.swiper-slide -->

        <div class="swiper-slide swiper-thumbnail__slide">
          <img class="swiper-thumbnail__image" src="images/detail/flower05.jpg" alt="">
        </div><!-- /.swiper-slide -->
      </div><!-- /.swiper-wrapper -->
    </div><!-- /.swiper-container -->

    <div class="section-detail__body">
      <h2 class="section-detail__heading">スタッフ おまかせアレンジ</h2>

      <p class="section-detail__sub-heading">季節のお花をお楽しみいただけます</p>

      <p class="section-detail__price">¥3,800</p>

      <p class="section-detail__text">大輪で華やかな季節のお花と、小分けにして飾りやすい小花を組み合わせたアレンジです。お好みの色で花束をお作りいたします。</p>

      <a class="section-detail__btn btn-primary" href="cart.html">カートに入れる</a>
    </div><!-- /.section-detail__body -->

  </section>

  <section class="section-point">
    <div class="section-point__inner l-container-lg">

      <div class="section-point__item">
        <h2 class="section-point__item-heading">
          POINT1<br>
          イメージからアレンジ
        </h2>

        <p class="section-point__item-text">ナチュラル・シンプル・ゴージャスからイメージをお選びいただいて、当店スタッフが花の種類をアレンジいたします。</p>
      </div>

      <div class="section-point__item">
        <h2 class="section-point__item-heading">
          POINT2<br>
          満足できるボリューム
        </h2>

        <p class="section-point__item-text">ボリュームたっぷりでシンプルな空間に映える花束です。配達前にお写真をメールいたします。</p>
      </div>

      <div class="section-point__item">
        <h2 class="section-point__item-heading">
          POINT3<br>
          花束・BOXをセレクト
        </h2>

        <p class="section-point__item-text">ボリュームたっぷりでシンプルな空間に映える花束です。配達前にお写真をメールいたします。</p>
      </div>

    </div><!-- /.section-point__item -->
  </section>

  <section class="section-flower section-flower--recommend l-container-lg">
    <h2 class="section-flower__heading heading-primary">Recommend</h2>

    <ul class="section-flower__cards">
      <li class="section-flower__card card-flower">
        <a class="card-flower__link" href="#">
          <picture class="card-flower__thumbnail">
            <source type="image/webp"
                    srcset="images/card/flower01.webp">

            <source srcset="images/card/flower01.jpg 1x, images/card/flower01@2x.jpg 2x">

            <img class="card-flower__image" src="images/card/flower01.jpg" alt="">
          </picture>

          <div class="card-flower__body">
            <h3 class="card-flower__heading">ひまわりのアレンジ花束</h3>

            <p class="card-flower__price">¥3,800</p>
          </div><!-- /.card-flower__body -->
        </a>
      </li>

      <li class="section-flower__card card-flower">
        <a class="card-flower__link" href="#">
          <picture class="card-flower__thumbnail">
            <source type="image/webp"
                    srcset="images/card/flower02.webp">

            <source srcset="images/card/flower02.jpg 1x, images/card/flower02@2x.jpg 2x">

            <img class="card-flower__image" src="images/card/flower02.jpg" alt="">
          </picture>

          <div class="card-flower__body">
            <h3 class="card-flower__heading">パープル系ドライフラワー</h3>

            <p class="card-flower__price">¥3,800</p>
          </div><!-- /.card-flower__body -->
        </a>
      </li>

      <li class="section-flower__card card-flower">
        <a class="card-flower__link" href="#">
          <picture class="card-flower__thumbnail">
            <source type="image/webp"
                    srcset="images/card/flower03.webp">

            <source srcset="images/card/flower03.jpg 1x, images/card/flower03@2x.jpg 2x">

            <img class="card-flower__image" src="images/card/flower03.jpg" alt="">
          </picture>

          <div class="card-flower__body">
            <h3 class="card-flower__heading">カーネーションと花瓶のセット</h3>

            <p class="card-flower__price">¥4,000</p>
          </div><!-- /.card-flower__body -->
        </a>
      </li>

      <li class="section-flower__card card-flower">
        <a class="card-flower__link" href="#">
          <picture class="card-flower__thumbnail">
            <source type="image/webp"
                    srcset="images/card/flower04.webp">

            <source srcset="images/card/flower04.jpg 1x, images/card/flower04@2x.jpg 2x">

            <img class="card-flower__image" src="images/card/flower04.jpg" alt="">
          </picture>

          <div class="card-flower__body">
            <h3 class="card-flower__heading">紫陽花のバスケットアレンジ</h3>

            <p class="card-flower__price">¥5,000</p>
          </div><!-- /.card-flower__body -->
        </a>
      </li>

      <li class="section-flower__card card-flower">
        <a class="card-flower__link" href="#">
          <picture class="card-flower__thumbnail">
            <source type="image/webp"
                    srcset="images/card/flower05.webp">

            <source srcset="images/card/flower05.jpg 1x, images/card/flower05@2x.jpg 2x">

            <img class="card-flower__image" src="images/card/flower05.jpg" alt="">
          </picture>

          <div class="card-flower__body">
            <h3 class="card-flower__heading">スタッフ おまかせアレンジ</h3>

            <p class="card-flower__price">¥3,800</p>
          </div><!-- /.card-flower__body -->
        </a>
      </li>

      <li class="section-flower__card card-flower">
        <a class="card-flower__link" href="#">
          <picture class="card-flower__thumbnail">
            <source type="image/webp"
                    srcset="images/card/flower06.webp">

            <source srcset="images/card/flower06.jpg 1x, images/card/flower06@2x.jpg 2x">

            <img class="card-flower__image" src="images/card/flower06.jpg" alt="">
          </picture>

          <div class="card-flower__body">
            <h3 class="card-flower__heading">ラベンダーとグリーンのアレンジ</h3>

            <p class="card-flower__price">¥2,800</p>
          </div><!-- /.card-flower__body -->
        </a>
      </li>
    </ul>
  </section>

</main>

<div class="breadcrumb">
  <ul class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="index.html">Home</a>
    </li>

    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="online-shop.html">Online Shop</a>
    </li>

    <li class="breadcrumb__item">
      スタッフ おまかせアレンジ
    </li>
  </ul>
</div>


<%- include('components/common/_footer') %>

<%- include('components/common/_script.ejs') %>

</body>
</html>
